:root {
  /* Типографика */
  --font-primary: Roboto, sans-serif;
  --font-scale: 1.25;
  --font-size-base: 1rem;
  --font-size-sm:   calc(var(--font-size-base) * 0.75);
  --font-size-md:   calc(var(--font-size-base) * 1);
  --font-size-lg:   calc(var(--font-size-md) * var(--font-scale));
  --font-size-xl:   calc(var(--font-size-lg) * var(--font-scale));
  --font-size-2xl:  calc(var(--font-size-xl) * var(--font-scale));
  --font-size-3xl:  calc(var(--font-size-2xl) * var(--font-scale));
  --font-size-4xl:  calc(var(--font-size-3xl) * var(--font-scale));
}

@font-face {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/roboto.woff');
}

@font-face {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/robotobold.woff');
}

/* Глобальные стили */
html { box-sizing: border-box; }

*,
*::before,
*::after { box-sizing: inherit; }

 body {
  margin: 0;
  color: var(--cs-primary);
  background-color: var(--cs-white);
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: currentColor;
  font-family: var(--font-primary);
  font-weight: 700;
  line-height: 1;
}

h1 {
  margin-top: 3.25em;
  margin-bottom: 0.9em;
  font-size: var(--font-size-3xl);
  line-height: 1.1;
}

h2 {
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: var(--font-size-2xl);
  line-height: 1.2;
}

h3 {
  margin-top: 2.75em;
  margin-bottom: 1.2em;
  font-size: var(--font-size-xl);
  line-height: 1.3;
}

h4 {
  margin-top: 2.5em;
  margin-bottom: 1.3em;
  font-size: var(--font-size-lg);
  line-height: 1.4;
}

h5 {
  margin-top: 2.25em;
  margin-bottom: 1.5em;
  font-size: var(--font-size-md);
  line-height: 1.5;
}

h6 {
  margin-top: 2em;
  font-size: var(--font-size-sm);
  line-height: 2;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

h1 + h2 { margin-top: 1.2em; }
h2 + h3 { margin-top: 1.3em; }
h3 + h4 { margin-top: 1.4em; }
h4 + h5 { margin-top: 1.5em; }
h5 + h6 { margin-top: 2em; }

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child { margin-top: 0; }

a {
  color: currentColor;
  text-decoration: none;
}

p {
  margin: 0;
  margin-bottom: 1.5em;
}

p:last-child { margin-bottom: 0; }

img {
  display: block;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/* Сетка */
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col-1 {
  flex: 0 0 calc((1/12) * 100%);
  width: calc((1/12) * 100%);
  padding-right: calc(20px / 2);
  padding-left: calc(20px / 2);
}

.col-2 {
  flex: 0 0 calc((2/12) * 100%);
  width: calc((2/12) * 100%);
  padding-right: calc(20px / 2);
  padding-left: calc(20px / 2);
}

.col-3 {
  flex: 0 0 calc((3/12) * 100%);
  width: calc((3/12) * 100%);
  padding-right: calc(20px / 2);
  padding-left: calc(20px / 2);
}

.col-4 {
  flex: 0 0 calc((4/12) * 100%);
  width: calc((4/12) * 100%);
  padding-right: calc(20px / 2);
  padding-left: calc(20px / 2);
}

.col-5 {
  flex: 0 0 calc((5/12) * 100%);
  width: calc((5/12) * 100%);
  padding-right: calc(20px / 2);
  padding-left: calc(20px / 2);
}

.col-6 {
  flex: 0 0 calc((6/12) * 100%);
  width: calc((6/12) * 100%);
  padding-right: calc(20px / 2);
  padding-left: calc(20px / 2);
}

.col-7 {
  flex: 0 0 calc((7/12) * 100%);
  width: calc((7/12) * 100%);
  padding-right: calc(20px / 2);
  padding-left: calc(20px / 2);
}

.col-8 {
  flex: 0 0 calc((8/12) * 100%);
  width: calc((8/12) * 100%);
  padding-right: calc(20px / 2);
  padding-left: calc(20px / 2);
}

.col-9 {
  flex: 0 0 calc((9/12) * 100%);
  width: calc((9/12) * 100%);
  padding-right: calc(20px / 2);
  padding-left: calc(20px / 2);
}

.col-10 {
  flex: 0 0 calc((10/12) * 100%);
  width: calc((10/12) * 100%);
  padding-right: calc(20px / 2);
  padding-left: calc(20px / 2);
}

.col-11 {
  flex: 0 0 calc((11/12) * 100%);
  width: calc((11/12) * 100%);
  padding-right: calc(20px / 2);
  padding-left: calc(20px / 2);
}

.col-12 {
  flex: 0 0 calc((12/12) * 100%);
  width: calc((12/12) * 100%);
  padding-right: calc(20px / 2);
  padding-left: calc(20px / 2);
}

.offset-1 {
  margin-left: calc((1/12) * 100%);
}

.offset-2 {
  margin-left: calc((2/12) * 100%);
}

.offset-3 {
  margin-left: calc((3/12) * 100%);
}

.offset-4 {
  margin-left: calc((4/12) * 100%);
}

.offset-5 {
  margin-left: calc((5/12) * 100%);
}

.offset-6 {
  margin-left: calc((6/12) * 100%);
}

.offset-7 {
  margin-left: calc((7/12) * 100%);
}

.offset-8 {
  margin-left: calc((8/12) * 100%);
}

.offset-9 {
  margin-left: calc((9/12) * 100%);
}

.offset-10 {
  margin-left: calc((10/12) * 100%);
}

.offset-11 {
  margin-left: calc((11/12) * 100%);
}

.offset-12 {
  margin-left: calc((12/12) * 100%);
}

/* Текстовые стили */
.text-3xl {
  margin: 0;
  font-size: var(--font-size-3xl);
}

.text-2xl {
  font-size: var(--font-size-2xl);
}

.text-xl {
  font-size: var(--font-size-xl);
}

.text-lg {
  font-size: var(--font-size-lg);
}

.text-gray {
  color: hsl(0, 0%, 40%);
}

.uppercase {
  text-transform: uppercase;
}

.text-bold {
  font-weight: 700;
}

/* Кнопки */
.btn {
  display: inline-block;
  margin: 0;
  padding: 10px 20px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(359, 95%, 66%);
  border: 0;
  border-radius: 2px;
  font: inherit;
  text-transform: uppercase;
}

.btn:hover {
  background-color: hsl(359, 77%, 58%);
}

.btn:active {
  color: hsl(359, 63%, 70%);
  background-color: hsl(358, 67%, 53%);
  border-top: 2px solid hsl(358, 60%, 47%);
}

.btn--lg {
  margin-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
}

.btn--green {
  background-color: hsl(154, 100%, 40%);
}

.btn--green:hover {
  background-color: hsl(154, 100%, 37%);
}

.btn--green:active {
  color: hsl(148, 42%, 62%);
  background-color: hsl(155, 100%, 33%);
  border-color: hsl(155, 100%, 30%);
}

.btn--yellow {
  background-color: hsl(46, 84%, 61%);
}

.btn--yellow:hover {
  background-color: hsl(43, 81%, 56%);
}

.btn--yellow:active {
  color: hsl(38, 76%, 71%);
  background-color: hsl(41, 79%, 52%);
  border-color: hsl(41, 74%, 46%);
}

.btn--gray {
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 93%);
}

.btn--gray:hover {
  background-color: hsl(0, 0%, 87%);
}

.btn--gray:active {
  color: hsl(0, 0%, 66%);
  background-color: hsl(0, 0%, 84%);
  border-top: 2px solid hsl(0, 0%, 75%);
}

.btn-price:active {
  color: hsl(0, 0%, 100%);
}

/* Пагинация */
.pagination__item {
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 93%);
}

.pagination__item:hover {
  background-color: hsl(0, 0%, 87%);
}

.pagination__item:active {
  color: hsl(0, 0%, 66%);
  background-color: hsl(0, 0%, 84%);
  border-top: 2px solid hsl(0, 0%, 75%);
}


.pagination__link {
  color: hsl(0, 0%, 0%);
}

.pagination__link:active {
  opacity: 0.3;
}

.pagination__item--curent .pagination__link {
  opacity: 1;
}

.pagination__item--curent,
.pagination__item--curent:focus,
.pagination__item--curent:hover,
.pagination__item--curent:active {
  background-color: hsl(0, 0%, 100%);
  border: 3px solid hsl(0, 0%, 86%);
}

/* Формы, чекбоксы и радио-кнопки*/
.sidebar {
  display: none;
  padding-top: 30px;
}

.range { width: 320px; }

.form {
  background-color: hsl(0, 0%, 100%);
}

.form__input {
  width: 100%;
  padding: 15px;
  color: hsl(0, 0%, 0%);
  border: 2px solid hsl(197, 10%, 86%);
}

.form__input:hover {
  border: 2px solid hsl(197, 5%, 72%);
}

.form__input:focus {
  border: 2px solid hsl(0, 0%, 0%);
  outline: 0;
}

.form__input--text {
  width: 100%;
}

.form__input::placeholder {
  color: hsl(0, 0%, 69%);
}

.form__input:hover::placeholder {
  color: hsl(0, 0%, 69%);
}

.form__input:focus::placeholder {
  color: hsl(0, 0%, 0%);
}

.form__label {
  border: none;
}

.checkboxes { list-style: none; }

.checkbox__label {
  padding-left: 30px;
  line-height: 20px;
}

.checkbox__btn {
  position: absolute;
  -webkit-appearance: none;
  appearance: none
}

.checkbox__image {
  position: absolute;
  width: 24px;
  height: 22px;
  margin-left: -30px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  opacity: 0.4;
}

.checkbox__image:focus,
.checkbox__image:hover,
.checkbox__label:hover .checkbox__image,
.checkbox__btn:focus + .checkbox__image {
  opacity: 1;
}

.checkbox__btn:checked + .checkbox__image {
  width: 26px;
  background-image: url(../img/checkbox-on.svg);
}

.radio { list-style: none; }

/* Контейнер */
.container {
  max-width: 300px;
  margin: 0 auto;
}

/* Меню шапки */
.header {
  background-color: hsl(0, 0%, 93%);
}

.header__menu {
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__logo:hover {
  opacity: 0.8;
}

.header__logo:active {
  opacity: 0.3;
}

.logo__img {
  max-width: 100px;
}

.header__nav {
  display: none;
  margin: 0;
  padding: 0;
}

.header__cart {
  display: none;
}

.cart { position: relative; }

.cart::before {
  position: absolute;
  top: 50%;
  left: -20px;
  content: '';
  width: 12px;
  height: 12px;
  background-image: url(../img/cart-icon.svg);
  opacity: 0.5;
  transform: translateY(-50%);
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item:not(:last-child) {
  margin-right: 10px;
}

.nav__link {
  position: relative;
  color: hsl(0, 0%, 0%);
}

.nav__link:hover,
.cart:hover {
  color: hsl(359, 95%, 66%);
}

.nav__link:active,
.cart:active {
  color: hsl(0, 0%, 0%);
  opacity: 0.3;
}

.nav__link--current::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background-color: hsl(359, 95%, 66%);
}

/* Слайдер */
.promo-slider {
  position: relative;
  padding: 0;
  background-color: hsl(0, 0%, 93%);
  background-image: url('../img/slide-1.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.promo-slider__bullets {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: none;
  justify-content: center;
  width: 95px;
  margin: 0;
  padding: 0;
  list-style: none;
  transform: translate(-50%, -50px);
}

.promo-slider__item {
  padding: 40px 0;
}

/* Карточки Услуг */
.services {
  padding: 80px 0;
}

.services__item:not(:last-child) {
  margin-bottom: 24px;
}

.services__item img {
  margin-bottom: 24px;
}

.services__item h3 {
  margin-bottom: 24px;
  font-size: var(--font-size-lg);
}

/* Блок О нас */
.about {
  padding: 35px 0 70px;
}

.about__text { margin-bottom: 12px; }

.list__item {
  margin: 32px 0;
}

.list,
.stats {
  list-style: none;
}

/* Каталог */
.title {
  padding: 50px 0;
  background-color: hsl(0, 0%, 93%);
}

.title__text {
  justify-content: center;
  text-align: center;
}

.catalog {
  padding-top: 30px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  height: auto;
  padding-bottom: 36px;
  list-style: none;
  text-align: center;
}

.catalog__price {
  justify-content: center;
  padding: 20px;
  background-color: hsl(0, 0%, 93%);
  text-align: center;
}

/* Клиенты */
.clients {
  padding: 90px 0;
}

.clients__list {
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
}

.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__item:nth-child(1),
.clients__item:nth-child(2) { margin-bottom: 20px; }

.clients__logo {
  max-width: 120px;
  opacity: 0.2;
}

.clients__logo:hover {
  opacity: 1;
}

.clients__logo:active {
  opacity: 0.1;
}

/* Блок Как найти наc (карта) */
.map {
  padding: 40px 0;
  background-color: hsl(0, 0%, 50%);
  background-image: url(../img/map.jpg);
  background-position: center;
}

.map__address {
  padding: 40px;
  background-color: hsl(0, 0%, 100%);
}

/* Соц Сети */
.socials {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: hsl(0, 0%, 88%);
  border: 0;
  border-radius: 50%;
}

.socials__logo {
  max-width: 20px;
  max-height: 20px;
}

.socials__link:hover {
  background-color: hsl(359, 77%, 58%);
}

.socials__link:active {
  background-color: hsl(358, 67%, 53%);
}

.socials__link:active .socials__logo {
  opacity: 0.3;
}


/* Подвал */
.footer {
  padding: 20px 0;
}

.footer__title { margin-bottom: 0; }

/* Вплывающее окно */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: hsl(0, 0%, 0%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: hsl(0, 0%, 0%);
  opacity: 0.5;
}

@keyframes bounce {
  0% {transform: translate(-50%, -1000px);}
  70% {transform: translate(-50%, 30px);}
  90% {transform: translate(-50%, 10px);}
  100% {transform: translate(-50%, -50%);}
}

@keyframes shake {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
  20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.popup__error {
  animation-name: shake;
  animation-duration: 0.5s;
}

.popup--show {
  display: block;
}

.popup__wraper {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 300px;
  transform: translate(-50%, -50%);
  background-color: hsl(0, 0%, 100%);
  padding: 10px;
  animation-name: bounce;
  animation-duration: 0.8s;
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 26px;
  height: 26px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 0;
}

.popup__close::before,
.popup__close::after {
  position: absolute;
  top: 12px;
  left: -1px;
  content: '';
  width: 26px;
  height: 4px;
  background-color: hsl(359, 95%, 66%);
  opacity: 0.3;
}

.popup__close::before {
  transform: rotate(45deg);
}

.popup__close::after {
  transform: rotate(-45deg);
}

.popup__close:hover::before,
.popup__close:hover::after {
  opacity: 1;
}

.popup__close:active::before,
.popup__close:active::after {
  opacity: 0.1;
}

.popup__title {
  margin: 0;
  margin-bottom: 40px;
}

.popup__item {
 margin-bottom: 15px;
}

.popup__items {
  justify-content: space-between;
}

.popup__btn {
  margin: 0;
}

@media (min-width: 640px) {
  body { font-size: 14px; }

  .container { max-width: 620px; }

  .header__nav {
    display: flex;
  }

  .header__cart {
    display: flex;
    justify-content: flex-end;
  }

  .logo__img {
    max-width: 160px;
  }

  .promo-slider__bullets { display: flex; }

  .services__list {
    justify-content: center;
  }

  .about__row { justify-content: center; }

  .clients__item:nth-child(1),
  .clients__item:nth-child(2) { margin-bottom: 0; }

  .socials { align-items: center; }

  .popup__wraper {
    width: 550px;
    padding: 40px;
  }

  .popup__close {
    top: 30px;
    right: 50px;
  }

  .col-1\@xs {
    flex: 0 0 calc((1/12) * 100%);
    width: calc((1/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-2\@xs {
    flex: 0 0 calc((2/12) * 100%);
    width: calc((2/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-3\@xs {
    flex: 0 0 calc((3/12) * 100%);
    width: calc((3/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-4\@xs {
    flex: 0 0 calc((4/12) * 100%);
    width: calc((4/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-5\@xs {
    flex: 0 0 calc((5/12) * 100%);
    width: calc((5/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-6\@xs {
    flex: 0 0 calc((6/12) * 100%);
    width: calc((6/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-7\@xs {
    flex: 0 0 calc((7/12) * 100%);
    width: calc((7/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-8\@xs {
    flex: 0 0 calc((8/12) * 100%);
    width: calc((8/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-9\@xs {
    flex: 0 0 calc((9/12) * 100%);
    width: calc((9/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-10\@xs {
    flex: 0 0 calc((10/12) * 100%);
    width: calc((10/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-11\@xs {
    flex: 0 0 calc((11/12) * 100%);
    width: calc((11/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-12\@xs {
    flex: 0 0 calc((12/12) * 100%);
    width: calc((12/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .offset-1\@xs {
    margin-left: calc((1/12) * 100%);
  }

  .offset-2\@xs {
    margin-left: calc((2/12) * 100%);
  }

  .offset-3\@xs {
    margin-left: calc((3/12) * 100%);
  }

  .offset-4\@xs {
    margin-left: calc((4/12) * 100%);
  }

  .offset-5\@xs {
    margin-left: calc((5/12) * 100%);
  }

  .offset-6\@xs {
    margin-left: calc((6/12) * 100%);
  }

  .offset-7\@xs {
    margin-left: calc((7/12) * 100%);
  }

  .offset-8\@xs {
    margin-left: calc((8/12) * 100%);
  }

  .offset-9\@xs {
    margin-left: calc((9/12) * 100%);
  }

  .offset-10\@xs {
    margin-left: calc((10/12) * 100%);
  }

  .offset-11\@xs {
    margin-left: calc((11/12) * 100%);
  }

  .offset-12\@xs {
    margin-left: calc((12/12) * 100%);
  }
}

@media (min-width: 768px) {
  body { font-size: 16px; }

  .container { max-width: 740px; }

  .popup__wraper {
    width: 640px;
  }

  .col-1\@s {
    flex: 0 0 calc((1/12) * 100%);
    width: calc((1/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-2\@s {
    flex: 0 0 calc((2/12) * 100%);
    width: calc((2/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-3\@s {
    flex: 0 0 calc((3/12) * 100%);
    width: calc((3/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-4\@s {
    flex: 0 0 calc((4/12) * 100%);
    width: calc((4/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-5\@s {
    flex: 0 0 calc((5/12) * 100%);
    width: calc((5/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-6\@s {
    flex: 0 0 calc((6/12) * 100%);
    width: calc((6/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-7\@s {
    flex: 0 0 calc((7/12) * 100%);
    width: calc((7/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-8\@s {
    flex: 0 0 calc((8/12) * 100%);
    width: calc((8/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-9\@s {
    flex: 0 0 calc((9/12) * 100%);
    width: calc((9/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-10\@s {
    flex: 0 0 calc((10/12) * 100%);
    width: calc((10/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-11\@s {
    flex: 0 0 calc((11/12) * 100%);
    width: calc((11/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-12\@s {
    flex: 0 0 calc((12/12) * 100%);
    width: calc((12/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .offset-1\@s {
    margin-left: calc((1/12) * 100%);
  }

  .offset-2\@s {
    margin-left: calc((2/12) * 100%);
  }

  .offset-3\@s {
    margin-left: calc((3/12) * 100%);
  }

  .offset-4\@s {
    margin-left: calc((4/12) * 100%);
  }

  .offset-5\@s {
    margin-left: calc((5/12) * 100%);
  }

  .offset-6\@s {
    margin-left: calc((6/12) * 100%);
  }

  .offset-7\@s {
    margin-left: calc((7/12) * 100%);
  }

  .offset-8\@s {
    margin-left: calc((8/12) * 100%);
  }

  .offset-9\@s {
    margin-left: calc((9/12) * 100%);
  }

  .offset-10\@s {
    margin-left: calc((10/12) * 100%);
  }

  .offset-11\@s {
    margin-left: calc((11/12) * 100%);
  }

  .offset-12\@s {
    margin-left: calc((12/12) * 100%);
  }
}

@media (min-width: 970px) {
  .container { max-width: 920px; }

  .nav__item:not(:last-child) {
    margin-right: 45px;
  }

  .sidebar { display: flex; }

  .about__row { justify-content: space-between; }

  .clients__logo {
    max-width: 150px;
  }

  .socials__link {
    width: 60px;
    height: 60px;
  }

  .socials__logo {
    max-width: 30px;
    max-height: 30px;
  }

  .popup__wraper {
    width: 760px;
    padding: 50px;
  }

  .popup__close {
    top: 40px;
    right: 60px;
  }

  .col-1\@m {
    flex: 0 0 calc((1/12) * 100%);
    width: calc((1/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-2\@m {
    flex: 0 0 calc((2/12) * 100%);
    width: calc((2/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-3\@m {
    flex: 0 0 calc((3/12) * 100%);
    width: calc((3/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-4\@m {
    flex: 0 0 calc((4/12) * 100%);
    width: calc((4/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-5\@m {
    flex: 0 0 calc((5/12) * 100%);
    width: calc((5/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-6\@m {
    flex: 0 0 calc((6/12) * 100%);
    width: calc((6/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-7\@m {
    flex: 0 0 calc((7/12) * 100%);
    width: calc((7/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-8\@m {
    flex: 0 0 calc((8/12) * 100%);
    width: calc((8/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-9\@m {
    flex: 0 0 calc((9/12) * 100%);
    width: calc((9/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-10\@m {
    flex: 0 0 calc((10/12) * 100%);
    width: calc((10/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-11\@m {
    flex: 0 0 calc((11/12) * 100%);
    width: calc((11/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-12\@m {
    flex: 0 0 calc((12/12) * 100%);
    width: calc((12/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .offset-1\@m {
    margin-left: calc((1/12) * 100%);
  }

  .offset-2\@m {
    margin-left: calc((2/12) * 100%);
  }

  .offset-3\@m {
    margin-left: calc((3/12) * 100%);
  }

  .offset-4\@m {
    margin-left: calc((4/12) * 100%);
  }

  .offset-5\@m {
    margin-left: calc((5/12) * 100%);
  }

  .offset-6\@m {
    margin-left: calc((6/12) * 100%);
  }

  .offset-7\@m {
    margin-left: calc((7/12) * 100%);
  }

  .offset-8\@m {
    margin-left: calc((8/12) * 100%);
  }

  .offset-9\@m {
    margin-left: calc((9/12) * 100%);
  }

  .offset-10\@m {
    margin-left: calc((10/12) * 100%);
  }

  .offset-11\@m {
    margin-left: calc((11/12) * 100%);
  }

  .offset-12\@m {
    margin-left: calc((12/12) * 100%);
  }
}

@media (min-width: 1200px) {
  :root {
    --font-scale: 1.333;
  }

  .container { max-width: 1160px; }

  .nav__item:not(:last-child) {
    margin-right: 45px;
  }



  .clients__logo {
    max-width: 200px;
  }

  .socials__link {
    width: 80px;
    height: 80px;
  }

  .socials__logo {
    max-width: 40px;
    max-height: 40px;
  }

  .col-1\@l {
    flex: 0 0 calc((1/12) * 100%);
    width: calc((1/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-2\@l {
    flex: 0 0 calc((2/12) * 100%);
    width: calc((2/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-3\@l {
    flex: 0 0 calc((3/12) * 100%);
    width: calc((3/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-4\@l {
    flex: 0 0 calc((4/12) * 100%);
    width: calc((4/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-5\@l {
    flex: 0 0 calc((5/12) * 100%);
    width: calc((5/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-6\@l {
    flex: 0 0 calc((6/12) * 100%);
    width: calc((6/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-7\@l {
    flex: 0 0 calc((7/12) * 100%);
    width: calc((7/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-8\@l {
    flex: 0 0 calc((8/12) * 100%);
    width: calc((8/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-9\@l {
    flex: 0 0 calc((9/12) * 100%);
    width: calc((9/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-10\@l {
    flex: 0 0 calc((10/12) * 100%);
    width: calc((10/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-11\@l {
    flex: 0 0 calc((11/12) * 100%);
    width: calc((11/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .col-12\@l {
    flex: 0 0 calc((12/12) * 100%);
    width: calc((12/12) * 100%);
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
  }

  .offset-1\@l {
    margin-left: calc((1/12) * 100%);
  }

  .offset-2\@l {
    margin-left: calc((2/12) * 100%);
  }

  .offset-3\@l {
    margin-left: calc((3/12) * 100%);
  }

  .offset-4\@l {
    margin-left: calc((4/12) * 100%);
  }

  .offset-5\@l {
    margin-left: calc((5/12) * 100%);
  }

  .offset-6\@l {
    margin-left: calc((6/12) * 100%);
  }

  .offset-7\@l {
    margin-left: calc((7/12) * 100%);
  }

  .offset-8\@l {
    margin-left: calc((8/12) * 100%);
  }

  .offset-9\@l {
    margin-left: calc((9/12) * 100%);
  }

  .offset-10\@l {
    margin-left: calc((10/12) * 100%);
  }

  .offset-11\@l {
    margin-left: calc((11/12) * 100%);
  }

  .offset-12\@l {
    margin-left: calc((12/12) * 100%);
  }
}
